* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'open sans';
}
html{
  scroll-behavior: smooth;
}
::selection {
  background-color: red;
  color: white;
}

.navbar {
  width: 65%;
  height: 10vh;
  background-color: rgb(255, 119, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  left: 17.5%;
  right: 17.5%;
  top: 7px;
  position: fixed;
  border-radius: 100px;
  z-index: 3;
}


.btn-login {
  text-decoration: none;
  color: black;
  font-size: 1vw;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border: 1px black;
  border-style: double;
}

.btn-register {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  background-color: rgb(0, 0, 0);
  padding: 5px 10px 5px 10px;
  border: 1px black;
  border-style: double;
  margin-right: 25px;
}

.bi-cart {
  color: white;
  height: 3vh;
  width: 3vw;
}

.bi-fav {
  height: 3vh;
  width: 3vw;
  color: white;
}

.bi-list {
  display: none;
}

.logo img {
  padding-left: 25px;
  width: 12vw;
}


.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #ffffff;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 25vw;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  margin-right: -2rem;
  height: calc(5vh + 1vw);
}

.search__input:hover, .search__input:focus {
  box-shadow: 0px 0px 20px -18px;
}

.search__input:focus {
  outline: none;
  border: 2px solid #cd4f1c;
}
.search__input:active, .search__input:active{
  transform: scale(0.95);
}


.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}



.search__button {
  border: none;
  background-color: #ffffff;
  margin-top: .1em;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}


/* rouge: #8a1e1f
  3eme barre: #cd4f1c
  2eme: #f88211
  1er: #f1b74c
*/

.maildeco {
  text-decoration: none;
  color: white;
  font-style: italic;
  margin-right: 25px;
  font-size: 1vw;
}

.bi-circle {
  height: 2vh;
  width: 2vw;
  transform: translateY(2px);
}

.hero {
  background-image: url('../image/bckgrd.png');
  width: 100%;
  height: 80vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: right;
  align-items: center;
}

.popup {
  background-color: white;
  text-align: center;
  height: fit-content;
  padding: 15px 15px 15px 15px;
  margin-right: 10%;
  box-shadow: 11px 9px 29px -8px rgba(0, 0, 0, 0.77);
}

.popup P {
  margin: 25px 0;
  font-size: 1.1vw;
}

.btn-decou {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  background-color: rgb(0, 0, 0);
  padding: 5px 10px 5px 10px;
}

@media screen and (max-width: 790px) {
  .hero {
    background-image: url('../image/bckgrdrespon.png');
    justify-content: center;
    align-items: end;
    background-position: center;
  }

  .popup {
    width: 80%;
    margin-bottom: 40px;
    margin-right: 0;
  }

  .popup P {
    font-size: 2.5vw;
  }

  .btn-decou {
    font-size: 2vw;
  }

  .popup h1 {
    font-size: 3.5vw;
  }

  .navbar {
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }

  .input,
  .bi-bell,
  .btn,
  .bi-fav,
  .maildeco {
    display: none;
  }

  a .logo {
    width: 100%;
  }

  a .logo img {
    padding-left: 35%;
    width: 150px;
  }

  .bi-list {
    display: block;
    width: 30px;
    height: 30px;
    color: #8a1e1f;
    position: absolute;
    left: 10px;
  }
  .menuDer{
    display: none;
  }
  .bi-cart{
    display: none;
  }
  .search,.search__input{
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c9b7b7c7;
  list-style: none;
  width: 100%;
  height: 4.5vh;
  margin-top: 13vh;
}

.menu a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1vw;
  position: relative;
}

.underline::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #000000;
  transition: 0.3s ease-in-out;
}
.underline:hover::before{
  width: 100%;
}


@media screen and (max-width: 790px) {
    .menu a{
      font-size: 10px;
    }
}

.titreCate {
  margin: 5% 0 5% 5%;
  font-size: 7vh;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 11px;
}

.card {
  background-color: rgb(255, 255, 255);
  height: 260px;
  width: 270px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 9px 11px 41px 2px rgba(0, 0, 0, 0.20)
    /*inset -6px -5px 17px -7px #000000;*/
  ;
  z-index: 1;
}

.card .image {
  height: 200px;
  width: 200px;
}

.iconfav {
  position: relative;
}

.heart {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 85px;
  top: 20px;
  color: black;
  z-index: 2;
}

.libelle {
  font-size: 17px;
  font-weight: 300;
  font-family: 'open sans';
  transform: translateY(-20px);
  text-align: center;
}

.prix {
  font-weight: 500;
  font-family: 'open sans';
  transform: translateY(-26px);
}

.card:hover {
  transform: scale(1.02, 1.02);
  transition: 0.5s;
}





.prod{
  display: flex;
  height: fit-content;
  margin-top: 100px;
}

.gauche{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.aaaa{
  padding-left: 50px;
}

.imageprod img{
  width: 500px;
  
}
.nomprod{
  text-align: start;
  margin-left: 25px;
  font-size: 2vw;
  font-weight: 700;
  transform: translateY(5px);
}


.droite{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bbbb{
  border: 2px solid #575757;
  margin-right: 50px;
  width: 40vw;
  height: calc(40vh - 1vw);
  text-align: center;
}

.tableau{
  background-color: rgb(255, 255, 255);
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
#prix.prixart {
  font-family: 'open sans';
  font-weight: 800;
}
.prixart{
  font-size: 1cm;
  margin-right: 50px;
  padding: 25px 0;
}
.tableau .taille{
  margin: 0 10px 10px 10px;
  width: 60px;
  height: 60px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 2vw;
  box-shadow: -2px 0px 7px -2px #000000;
  border: none;
}

.tableau .taille:hover{
  cursor: pointer;
}
.tableau .taille:active{
  box-shadow: none;
}
.tableau .taille.selected {
  background-color: #FFFFFF; 
  color: #000000;
}

.ajoupanier{
  width: 80%;
  height: 20%;
  font-size: 2vw;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}

.iconfavo{
  position: relative;
  color: aqua;
}

.bi-heart{
  position: absolute;
  height: 25px;
  width: 25px;
  color: black;
  top: -6vh;
  left: 12vw;
}

.description{
  width: 80%;
  height: fit-content;
  margin: 5% 13% 0 5%;
}

.description p{
  font-size: 1.2vw;
  text-align: left;
}
.description h4{
  font-size: 1.4vw;
  padding-bottom: 20px;
}

@media (max-width: 730px){
  
  .gauche{
      width: 100vw;
  }  
  .droite{
      width: 100vw;
  }
  .prod{
      flex-direction: column;
  }
  .aaaa{
      padding-left: 0px;
  }
  .bbbb{
      margin-right: 0px;
  }
  .description{
      margin:  50px auto;
  }
  .bbbb{
      margin-right: 0px;
      width: 80vw;
      height: calc(40vh - 1vw);
  }
  .description p{
      font-size: 10px;
  }
  .description h4{
      font-size: 15px;
  }
  .imageprod img{
      width: 75%;
      margin: 0 0 8% 10%;
  }
  .bi-heart{
      top: -6vh;
      left: 30vw;
  }
  .nomprod{
      margin: 10px 0 4% 0;
      font-size: 6vw;
      text-align: center;
  }
  .prixart{
    margin-right: 0;
  }
}


.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  background-color: #FFFFFF;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #8a1e1f;
}

.menuDer{
  color: #FFFFFF;
  background-color: #000000;
  border: #FFFFFF 2px solid;
  padding: 7px;
  margin-left: 14px;
  font-size: 0.8vw;
}

/* mentions */
.blocment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2cm;
}
.titrementions{
  color: #8a1e1f;
  margin-bottom: 1cm;
}
.hrmen{
  width: 80%;
  margin-bottom: 1cm;
}
.blocment p{
  padding: 0 10px 85px 10px;
}

/*footer*/
footer{
  background-color: rgb(255, 119, 0);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 4cm;
  margin-top: 80px;
  text-align: center;
  flex-wrap: wrap;
}

footer ul li{
  list-style-type: none;
  color: #000000;
  font-size: 1vw;
}

.trustpilot{
  height: 27px;
}

.ntm{
  color: #000000;
}


@media (max-width: 790px){
  footer ul{
    flex-wrap: wrap;
    width: 50%;
  }
  footer b{
    font-size: 2vw;
  }
  footer .respon{
    font-size: 1.5vw;
  }
}
@media (max-width: 580px){
  footer ul{
    flex-wrap: wrap;
    width: 100%;
  }
  footer b{
    font-size: 2.8vw;
  }
  .flm{
    padding-top: 10px;
  }
  footer .respon{
    font-size: 2.4vw;
  }
  footer{
    height: fit-content;
  }
  .trustpilot{
    height: 20px;
  }
  .flm2{
    padding-bottom: 10px;
  }
}

.padefav{
  color: #575757;
  font-weight: 100;
  padding: 8% 0;
}

.tablerespon{
  display: flex;
  justify-content: center;
  padding: 10% 0 5cm;
  text-align: center;
}

.table{
  width: fit-content;
  height: fit-content;
  font-size: 1.5vw;
}

.table td{
  color: #FFFFFF;
  padding: 0 10px 0 10px;
}

.table-primary{
  background-color: #8a1e1f;
}
.table-secondary{
  background-color: #cd4f1c;
}