{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}} Mentions
{% endblock %}

{% block body %}
<div class="blocment">
<h1 class="titrementions">Mentions légales</h1>
<h2 class="titrementions">Information légales</h2>
<hr class="hrmen">

<p>
Webmaster: BOURGEOIS Hugo <br>
Hébergeur: OVH via le nuage pédagogique <br>
adresse: 57 Rue Bocquet Flochel, 62000 Arras
Lycée Guy Mollet <br>
l'utilisation du site TRENDSPHERE implique clairement l'acceptation des conditions général d'utilisation <br>
TREENDSPHERE et ses utilisateurs sont soumis aux droits français <br>
Politique de retour: le retour des produits sera soumis à inspection, le moindre doute sur l'authenticité ou sur l'usure du produit entrainera une annulation du retour <br>
TRENDSPHERE est une plateforme d'achat et de revente de produits de toutes marques, TRENDSPHERE vous permet de bénéficier de relations entre revendeurs et marques agréée.
</p>
</div>
{% endblock %}
